.navbar-expand-lg .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-family: "Bookman Old Style";
    font-style: italic;
    font-size: 15px;
  }
  
  .navbar-expand-lg .navbar-brand {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    font-family: "Edwardian Script ITC";
  }

  li{
    margin-bottom: 0;
    width: auto;
  }