<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark p-0" *ngIf="!isShowSideBar">
    <div class="container-fluid">
        <a class="navbar-brand logo text-light" (click)="navigateToLogin()">M a f i a</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" (click)="navigateTosignUp()"
                       >Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="navigateToLogin()"
                       >Log in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>