.theme-dashboard {
  margin-left: 16rem;
  padding: 8px;
  padding-left: 1rem !important;
  background-color: rgba(20,27,45,255);
  height: 100vh;
  overflow-x: hidden;
}

.search{
    width: 16rem;
}

.card{
    background-color: #1f2941;
}

.card-bod{
    color: #79808f;
    font-size: 12px;
}

.card-head{
    font-size: 14px;
}

.card-btn{
    background-color: #141b2d;
    border: none;
    font-size: 12px;
    display: block;
    color: #79808f;
}

.card-btn:hover{
    color: whitesmoke;
    border: 5px;
    border-color: rgb(104,113,215) !important;
}

#join{
    font-size: 12px;
}

.table{
    font-size: 14px;
}

.progress-circle{
    color: whitesmoke !important;
}