<div class="theme-dashboard">
  <div class="search">
    <div class="mt-3 input-group">
      <input
        type="text"
        name="search"
        placeholder="Search"
        class="form-control dark-input rounded-pill"
        id="search"
      />
      <button class="btn btn-primary rounded-pill pl-1" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="dashboard-head mt-5">
    <h3 class="text-light">Dashboard</h3>
    <p style="color: #79808f">Welcome Back, Devvrat</p>
  </div>
  <div class="dashboard-body">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
        <div class="card">
          <div class="card-body">
            <div class="card-head text-light">Games Played</div>
            <div class="card-bod">10</div>
            <div class="d-flex align-items-center justify-content-center">
              <circle-progress class="progress-circle"
              [percent]="100"
              [radius]="40"
              [outerStrokeWidth]="6"
              [innerStrokeWidth]="6"
              [space]="-6"
              [innerStrokeColor]="'#79808f'"
              [outerStrokeColor]="'rgb(104,113,215)'"
              [animation]="true"
              [animationDuration]="1000"
              [titleColor]="'white'"
              [subtitleColor]="'White'"
              [unitsColor]="'white'"
              [showInnerStroke]="true"
            ></circle-progress>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
        <div class="card">
          <div class="card-body">
            <div class="card-head text-light">Mafia</div>
            <div class="card-bod">3</div>
            <div class="d-flex align-items-center justify-content-center">
              <circle-progress class="progress-circle"
              [percent]="30"
              [radius]="40"
              [outerStrokeWidth]="6"
              [innerStrokeWidth]="6"
              [space]="-6"
              [innerStrokeColor]="'#79808f'"
              [outerStrokeColor]="'rgb(104,113,215)'"
              [animation]="true"
              [animationDuration]="1000"
              [titleColor]="'white'"
              [subtitleColor]="'White'"
              [unitsColor]="'white'"
              [showInnerStroke]="true"
            ></circle-progress>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
        <div class="card">
          <div class="card-body">
            <div class="card-head text-light">Villagers</div>
            <div class="card-bod">7</div>
            <div class="d-flex align-items-center justify-content-center">
              <circle-progress class="progress-circle"
              [percent]="70"
              [radius]="40"
              [outerStrokeWidth]="6"
              [innerStrokeWidth]="6"
              [space]="-6"
              [innerStrokeColor]="'#79808f'"
              [outerStrokeColor]="'rgb(104,113,215)'"
              [animation]="true"
              [animationDuration]="1000"
              [titleColor]="'white'"
              [subtitleColor]="'White'"
              [unitsColor]="'white'"
              [showInnerStroke]="true"
            ></circle-progress>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
        <div class="card">
          <div class="card-body">
            <div class="card-head text-light">Games Winned</div>
            <div class="card-bod">4</div>
            <div class="d-flex align-items-center justify-content-center">
              <circle-progress class="progress-circle"
              [percent]="40"
              [radius]="40"
              [outerStrokeWidth]="6"
              [innerStrokeWidth]="6"
              [space]="-6"
              [innerStrokeColor]="'#79808f'"
              [outerStrokeColor]="'rgb(104,113,215)'"
              [animation]="true"
              [animationDuration]="1000"
              [titleColor]="'white'"
              [subtitleColor]="'White'"
              [unitsColor]="'white'"
              [showInnerStroke]="true"
            ></circle-progress>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
        <div class="card">
          <div class="card-body">
            <div class="card-head text-light">
              Create Game
              <button type="submit" class="btn card-btn mt-2" (click)="createGame()">
                Create Game
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
        <div class="card">
          <div class="card-body">
            <div class="card-head text-light">
              Join Game
              <input
                type="text"
                name="join"
                id="join"
                class="form-control dark-input mt-2 rounded-pill"
                placeholder="Game Code"
              />
              <button type="submit" class="btn card-btn mt-2">Join</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="card">
          <div class="card-body">
            <table class="table text-light">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Game Code</th>
                  <th scope="col">Role</th>
                  <th scope="col">Result</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>123456</td>
                  <td>Villagers</td>
                  <td>Win</td>
                  <td>
                    <input type="submit" class="btn card-btn" value="Details" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
