<div class="theme-dashboard">
  <button (click)="openNavBar()" class="navbar-toggler border-0 d-block d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  <div class="dashboard-head mt-5">
    <h3 class="text-light">Game History : 123456</h3>
    <p style="color: #79808f">Welcome Back, Devvrat</p>
  </div>
  <div class="dashboard-body">
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="card">
          <div class="card-body text-light">
            <h3>Game Details</h3>
            <div class="history-loop" *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
              <h4 class="mb-0 round-head">
                <img class="table-dp me-2" src="../../../assets/img/2652525.svg" alt="">
                Round {{item}}
              </h4>
              <div class="round-history ps-5">
                <p class="round-details">Mafia kills Jai Singh</p>
                <p class="round-details">Doctor saved Devvrat</p>
                <p class="round-details">Police guessed John as Mafia</p>
                <p class="round-details">Villagers voted out Danial</p>
              </div>
            </div>
            <h3 class="mt-3">Mafia Wins</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="card">
          <div class="card-body">
            <table class="table text-light">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">DP</th>
                  <th scope="col">Name</th>
                  <th scope="col">Role</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of [1, 2, 3, 4]">
                  <th scope="row">{{ i }}</th>
                  <td>
                    <img src="../../../assets/img/peakpx.jpg" class="table-dp" alt="" />
                  </td>
                  <td>Devvrat Sharma</td>
                  <td>
                    Mafia
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>