<div class="theme-navbar d-none d-md-block" *ngIf="isShowSideBar" id="navBar">
  <div class="heading">
    <a class="navbar-brand text-light" href="#">Mafia</a>
    <div class="pull-right mt-2 d-block d-md-none">
        <img (click)="closeNavBar()" src="../../assets/img/pngaaa.com-966788.png" alt="">
    </div>
  </div>
  <div class="profile text-light">
    <div class="d-flex justify-content-center mt-5">
      <img
        [src]="src"
        alt="profile picture"
        class="profile-picture border border-3"
      />
    </div>
    <div class="f-bold d-flex justify-content-center">{{displayName}}</div>
  </div>
  <div class="menu mt-3">
    <label class="menu-head">Menu</label>
    <div class="menu-body mt-3">
      <ul>
        <li>
          <i class="fa fa-tachometer active" [ngClass]="{active:pageName=='dashboard'}" aria-hidden="true"></i>
          <a href="mafia/dashboard" [ngClass]="{active:pageName=='dashboard'}">Dashboard</a>
        </li>
        <li>
          <i class="fa fa-gamepad" aria-hidden="true" [ngClass]="{active:pageName=='game'}"></i>
          <a href="mafia/game" [ngClass]="{active:pageName=='game'}">Game</a>
        </li>
        <li>
          <i class="fa fa-comments" aria-hidden="true" [ngClass]="{active:pageName=='feedback'}"></i>
          <a href="mafia/feedback" [ngClass]="{active:pageName=='feedback'}"> Feedback</a>
        </li>
        <li (click)="logOut()" class="text-light">
          <i class="fa fa-sign-out" aria-hidden="true" ></i>
          <a>Log out</a>
        </li>
      </ul>
    </div>
  </div>
</div>
