<div class="theme-dashboard">
  <button (click)="openNavBar()" class="navbar-toggler border-0 d-block d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  <div class="dashboard-head mt-5">
    <h3 class="text-light">Game : {{gameCode}}</h3>
    <p style="color: #79808f">Welcome Back, {{name}}</p>
  </div>
  <div class="dashboard-body">
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="card">
          <div class="card-body">
            <table class="table text-light">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">DP</th>
                  <th scope="col">Name</th>
                  <th scope="col">Status</th>
                  <th scope="col" *ngIf="status != 'Out'">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of players; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>
                    <img
                      [src]="item.dp"
                      class="table-dp"
                      alt=""
                    />
                  </td>
                  <td>{{item.name}}</td>
                  <td>{{item.status}}</td>
                  <td *ngIf="status != 'Out'">
                    <input
                      type="button"
                      *ngIf="allVote && item.status == 'In' && !isMod"
                      class="btn table-btn btn-success"
                      [value]="'Vote ' + item.vote"
                      (click)="vote(i)"
                    />
                    <input
                      type="button"
                      *ngIf="mafiaVote && role=='Mafia' && item.status == 'In'"
                      class="btn table-btn btn-danger"
                      [value]="'Kill ' + item.vote"
                      (click)="voteKill(i)"
                    />
                    <input
                      type="button"
                      *ngIf="policeChoose && role=='Police Man' && item.status == 'In'"
                      class="btn table-btn btn-success"
                      value="Mafia"
                      (click)="isMafia(i)"
                    />
                    <input
                      type="button"
                      *ngIf="docSave && role=='Doctor' && item.status == 'In'"
                      class="btn table-btn btn-danger"
                      value="Save"
                      (click)="safe(i)"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="card">
          <div class="card-body">
            <div class="card-head text-light">
              <p>You are a</p>
              <h3 *ngIf="!isMod">{{role}}</h3>
              <h3 *ngIf="isMod">Moderator</h3>
              <p>Currently</p>
              <h3>Mafias are Choosing Dead Body</h3>
              <button *ngIf="isMod && !gameStarted" type="submit" class="btn card-btn mt-2" (click)="startGame()">Start Game</button>
              <button *ngIf="isMod && mafiaVote" type="submit" class="btn card-btn mt-2" (click)="mafiaDone()">Mafia Done</button>
              <button *ngIf="isMod && docSave" type="submit" class="btn card-btn mt-2" (click)="doctorDone()">Doctor Done</button>
              <button *ngIf="isMod && policeChoose" type="submit" class="btn card-btn mt-2" (click)="policeDone()">Police Done</button>
              <button *ngIf="isMod && allVote" type="submit" class="btn card-btn mt-2" (click)="allDone()">All Done</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="card">
          <div class="card-header text-light">Chat Window</div>
          <div class="card-body chat-window">
            <ul>
              <li *ngFor="let item of chat">
                <div class="row">
                  <div class="col-2 pe-0 d-flex justify-content-center">
                    <img
                      [src]="item.photo"
                      class="message-dp"
                      alt=""
                    />
                  </div>
                  <div class="col-10 ps-0">
                    <p class="message">{{item.name}}</p>
                    <p class="message1">{{item.msg}}</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="card-footer">
            <div class="input-group">
              <input
                type="text"
                name="Message"
                placeholder="Message"
                [(ngModel)]="msg"
                class="form-control dark-input rounded-pill me-3"
                id="Message"
              />
              <button class="btn btn-primary rounded-pill pl-1" type="submit" (click)="send()">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
